@model List<StudentManage.Models.PersonalFormModel>
@{
    ViewBag.Title = "ClassEvaluation";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="page-title">Danh sách đánh giá rèn luyện</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách đánh giá rèn luyện</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-4 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option> -- Tất cả -- </option>
                    <option>Đánh giá rèn luyện học kỳ 2 năm 2020 - 2021</option>
                    <option>Đánh giá rèn luyện học kỳ 1 năm 2020 - 2021</option>
                    <option>Đánh giá rèn luyện học kỳ 2 năm 2019 - 2020</option>
                    <option>Đánh giá rèn luyện học kỳ 2 năm 2019 - 2020</option>
                </select>
                <label class="focus-label">Học kỳ</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option> -- Tất cả -- </option>
                    <option>Đã đánh giá</option>
                    <option>Chưa đánh giá</option>
                </select>
                <label class="focus-label">Đã/ chưa đánh giá</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option> -- Tất cả -- </option>
                    <option> Đợi chấm </option>
                    <option> Chờ lớp </option>
                    <option> Chờ duyệt </option>
                    <option> Hoàn thành </option>
                </select>
                <label class="focus-label">Tình trạng</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">MSSV/ Tên đoàn viên</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <a href="#" class="btn btn-secondary btn-block"> Tìm kiếm </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped custom-table mb-0 datatable text-center"
                       style="width:100%; font-size: 13px;">
                    <thead>
                        <tr style="box-shadow:none">
                            <th rowspan="2">
                                <span>
                                    STT
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    MSSV
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    Họ và tên
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    Ngày sinh
                                </span>
                            </th>
                            <th colspan="4">Điểm</th>
                            <th rowspan="2">
                                <span>
                                    Xếp loại
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    Tình trạng
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    Tác vụ
                                </span>
                            </th>
                            <th rowspan="2">
                                <span>
                                    Ghi chú
                                </span>
                            </th>
                        </tr>
                        <tr style="box-shadow:none">
                            <th>ĐV</th>
                            <th>Lớp</th>
                            <th>Khoa</th>
                            <th>Trường</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowNo = 0; }
                        @foreach (var form in Model)
                        {
                            <tr>
                                <td>
                                    <strong>@(rowNo += 1)</strong>
                                </td>
                                <td>@form.StudentCode</td>
                                <td class="text-left">
                                    @form.FullName
                                </td>
                                <td>@((form.BirthDate == null) ?  Html.Raw("Chưa cập nhật") : Html.Raw((form.BirthDate).Value.ToString("dd/MM/yyyy")))</td>
                                <td>@((form.Score1 == null) ?  Html.Raw("-") : Html.Raw(form.Score1))</td>
                                <td>@((form.Score2 == null) ?  Html.Raw("-") : Html.Raw(form.Score2))</td>
                                <td>@((form.Score3 == null) ?  Html.Raw("-") : Html.Raw(form.Score3))</td>
                                <td>@((form.Score4 == null) ?  Html.Raw("-") : Html.Raw(form.Score4))</td>
                                <td>@((form.Ranking == null) ?  Html.Raw("-") : Html.Raw(form.Ranking))</td>
                                <td>
                                    @if (@form.Situation.CompareTo("Hoàn Thành") != 0)
                                    {
                                        <span class="badge bg-inverse-warning text-sm">
                                            @form.Situation
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-inverse-success text-sm">
                                            Hoàn thành
                                        </span>
                                    }
                                </td>
                                <td>
                                    <a href="~/UnionEvaluation/FormDetail/@form.formId">
                                        <i class="fa fa-eye fa-lg"></i>
                                    </a>
                                </td>
                                <td>
                                    @if (form.Note == null)
                                    {
                                        <a href="#" data-toggle="modal" data-target="#addnote_modal_@form.formId"
                                           title="Tạo ghi chú">
                                            <i class="las la-comment-medical text-xl text-secondary juged-icon"></i>
                                        </a>
                                        <!-- Add note Modal -->
                                        <div id="addnote_modal_@form.formId" class="modal custom-modal fade" data-backdrop="static" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Thêm ghi chú</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label>Nội dung ghi chú<span class="text-danger">*</span></label>
                                                                        <textarea class="form-control" rows="10"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="submit-section">
                                                                <button class="btn btn-primary submit-btn">Thêm</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Add note Modal -->
                                    }
                                    else
                                    {
                                        <a href="#" data-toggle="modal" data-target="#viewnote_modal_@form.formId"
                                           title="Tạo ghi chú">
                                            <i class="las la-comment-medical text-xl text-secondary juged-icon"></i>
                                        </a>
                                        <!-- View note Modal -->
                                        <div id="viewnote_modal_@form.formId" class="modal custom-modal fade" data-backdrop="static" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Xem/ Sửa ghi chú</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="row">

                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label>Nội dung ghi chú <span class="text-danger">*</span></label>
                                                                        <textarea class="form-control" rows="10">@form.Note</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="submit-section m-t-10 d-flex justify-content-around">
                                                                <button class="btn btn-outline-danger submit-btn">Xóa ghi chú</button>
                                                                <button class="btn btn-primary submit-btn">Lưu</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /View note Modal -->
                                    }

                                </td>
                            </tr>
                        }


                        @*<tr>
                                <td>
                                    <strong>3</strong>
                                </td>
                                <td>1811062895</td>
                                <td class="text-left">
                                    Nguyễn Thanh Tú
                                </td>
                                <td>16/12/2000</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>Xuất sắc</td>
                                <td>
                                    <span class="badge bg-inverse-success text-sm">Hoàn thành</span>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal"
                                       data-target="#edit-jugedment_modal">
                                        <i class="fa fa-eye fa-lg"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#addnote_modal"
                                       title="Tạo ghi chú">
                                        <i class="las la-comment-medical text-xl text-secondary juged-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>4</strong>
                                </td>
                                <td>1811062895</td>
                                <td class="text-left">
                                    Nguyễn Quang Minh
                                </td>
                                <td>16/12/2000</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>67</td>
                                <td>Xuất sắc</td>
                                <td>
                                    <span class="badge bg-inverse-success text-sm">Hoàn thành</span>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal"
                                       data-target="#edit-jugedment_modal">
                                        <i class="fa fa-eye fa-lg"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#addnote_modal"
                                       title="Tạo ghi chú">
                                        <i class="las la-comment-medical text-xl text-secondary juged-icon"></i>
                                    </a>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Add note Modal -->
<div id="addnote_modal" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm ghi chú</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Nội dung ghi chú<span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add note Modal -->
<!-- View note Modal -->
<div id="viewnote_modal" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xem/ Sửa ghi chú</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Nội dung ghi chú <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="10">Chúc bạn 1 ngày tốt lành</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section m-t-10 d-flex justify-content-around">
                        <button class="btn btn-outline-danger submit-btn">Xóa ghi chú</button>
                        <button class="btn btn-primary submit-btn">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View note Modal -->
