
@{
    ViewBag.Title = "Union";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var semesters = (List<StudentManage.Models.SemesterModel>)ViewBag.semesters;
}

<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="page-title">Danh sách phiếu điểm</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" style="color:#6c757d;">Trang chủ</a></li>
                    <li class="breadcrumb-item">Điểm cá nhân</li>
                    <li class="breadcrumb-item active"><a href="">Danh sách phiếu điểm</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Điểm rèn luyện đoàn viên</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped juged-table text-center mb-0">
                            <thead>
                                <tr>
                                    <th rowspan="2">STT</th>
                                    <th rowspan="2">Học kỳ</th>
                                    <th rowspan="2">Năm học</th>
                                    <th colspan="4">Điểm</th>
                                    <th rowspan="2">Xếp loại</th>
                                    <th rowspan="2">Tình trạng</th>
                                    <th rowspan="2">Tác vụ</th>
                                </tr>
                                <tr>
                                    <th>Cá nhân</th>
                                    <th>Lớp</th>
                                    <th>Khoa</th>
                                    <th>Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in semesters)
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>@item.name</td>
                                        <td>@item.year</td>
                                        @*In điểm*@
                                        <td>@((item.score1 == null) ?  Html.Raw("-") : Html.Raw(item.score1))</td>
                                        <td>@((item.score2 == null) ?  Html.Raw("-") : Html.Raw(item.score2))</td>
                                        <td>@((item.score3 == null) ?  Html.Raw("-") : Html.Raw(item.score3))</td>
                                        <td>@((item.score4 == null) ?  Html.Raw("-") : Html.Raw(item.score4))</td>
                                        @*Xét Xếp loại*@
                                        @if (item.score4 > 90)
                                        {
                                            <td>Xuất sắc</td>
                                        }
                                        else if (item.score4 > 70)
                                        {
                                            <td>Khá</td>
                                        }
                                        else if (item.score4 >= 50)
                                        {
                                            <td>Trung Bình</td>
                                        }
                                        else if (item.score4 != null)
                                        {
                                            <td>Yếu</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        @*Xét Trạng thái*@
                                        @if (item.score1 == null)
                                        {
                                            <td>
                                                <span class="badge bg-inverse-warning text-sm">Chờ Chấm</span>
                                            </td>
                                        }
                                        else if (item.score2 == null)
                                        {
                                            <td>
                                                <span class="badge bg-inverse-warning text-sm">Chờ Lớp</span>
                                            </td>
                                        }
                                        else if (item.score3 == null)
                                        {
                                            <td>
                                                <span class="badge bg-inverse-warning text-sm">Chờ Khoa</span>
                                            </td>
                                        }
                                        else if (item.score4 == null)
                                        {
                                            <td>
                                                <span class="badge bg-inverse-warning text-sm">Chờ Duyệt</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge bg-inverse-success text-sm">Hoàn Thành</span>
                                            </td>
                                        }
                                        @*Tác vụ*@
                                        @if (item.inProcess == true)
                                        {
                                            <td>
                                                <a href="~/UnionEvaluation/FormDetail/@item.FormId">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="~/UnionEvaluation/FormDetail/@item.FormId">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                }
                                @*<tr>
                                        <td>2</td>
                                        <td>1</td>
                                        <td>2020 - 2021</td>
                                        <td>87</td>
                                        <td>87</td>
                                        <td>87</td>
                                        <td>87</td>
                                        <td>Xuất sắc</td>
                                        <td>
                                            <span class="badge bg-inverse-success text-sm">Hoàn thành</span>
                                        </td>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#vỉewdetail_modal">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->


