
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Danh sách user</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh sách user</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn content-btn" data-toggle="modal" data-target="#add_employee">
                    <i class="fa fa-plus"></i>Thêm user
                </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Tên đăng nhập</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Họ tên</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option value="0">-- Tất cả --</option>
                    @Html.Action("GetListPosition")
                </select>
                <label class="focus-label">Chức vụ</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-secondary btn-block"> Tìm kiếm </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row staff-grid-row">
        @Html.Action("ShowUserList", new { pagenum = ViewData["CurrentPage"] })
    </div>
    <!-- Pagination -->
    <ul class="pagination pagination-sm m-0 float-right">
        @*<li class="page-item"><a class="page-link" href="User?page=">«</a></li>*@
        @for (int i = 0; i < int.Parse(ViewData["TotalPage"].ToString()); i++)
        {
            <li class="page-item"><a class="page-link" href="User?page=@(i+1)">@(i+1)</a></li>
        }
        @*<li class="page-item"><a class="page-link" href="#">»</a></li>*@
    </ul>
</div>
<!-- /Page Content -->
<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addUser" action="/User/Insert" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Email <span class="text-danger">*</span>
                                </label>
                                <input name="email" class="form-control" type="email" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Họ tên <span class="text-danger">*</span>
                                </label>
                                <input name="fullname" class="form-control" type="text" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập họ tên')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Ngày vào làm <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input name="joinDate" class="form-control datetimepicker"
                                           type="text" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập ngày vào làm')"
                                           oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Mật khẩu <span class="text-danger">*</span>
                                </label>
                                <input name="password" class="form-control" type="password" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Ngày vào làm <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input name="joinDate" class="form-control datetimepicker"
                                           type="text" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập ngày vào làm')"
                                           oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>*@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Điện thoại <span class="text-danger">*</span>
                                </label>
                                <input name="phone" class="form-control" type="text" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập SĐT')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Giới tính</label>
                                <select name="gender" class="select">
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Chức vụ</label>
                                <select name="positionID" class="select">
                                    @Html.Action("GetListPosition")
                                </select>
                            </div>
                        </div>
                        @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Nhóm</label>
                                <select name="groupID" class="select">
                                    @Html.Action("GetListGroup")
                                </select>
                            </div>
                        </div>*@
                        <input name="className" value="18DTHD1" readonly hidden />
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->
<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật người dùng</h5>
                <button type="button" class="close edit-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editUser" action="/User/Update" method="post">
                    <div class="row">
                        @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">
                    Mã người dùng <span class="text-danger">*</span>
                </label>
                <input id="user-id" name="userID" class="form-control" type="text" readonly>
            </div>
        </div>*@
                        <input id="user-id" name="userID" class="form-control" type="text" hidden>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Email <span class="text-danger">*</span>
                                </label>
                                <input id="email" name="email" class="form-control" type="email" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Họ tên <span class="text-danger">*</span>
                                </label>
                                <input id="full-name" name="fullname" class="form-control" type="text" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập họ tên')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Giới tính</label>
                                <select id="gender" name="gender" class="select">
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Mật khẩu
                                </label>
                                <input id="password" name="password" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Ngày sinh <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input id="birthday" name="birthday" class="form-control datetimepicker"
                                           type="text" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập ngày sinh')"
                                           oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Ngày vào làm <span class="text-danger">*</span>
                                </label>
                                <div class="cal-icon">
                                    <input id="join-date" name="joinDate" class="form-control datetimepicker"
                                           type="text" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập ngày vào làm')"
                                           oninput="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Điện thoại <span class="text-danger">*</span>
                                </label>
                                <input id="phone" name="phone" class="form-control" type="number" required
                                       oninvalid="this.setCustomValidity('Vui lòng nhập SĐT')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">
                                    Địa chỉ 
                                </label>
                                <input id="address" name="address" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Tỉnh / Thành Phố</label>
                                <select id="city_update" name="cityID" class="select">
                                    <option value="0">-- Chọn Tỉnh / Thành Phố --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Quận / Huyện</label>
                                <select id="district_update" name="districtID" class="select">
                                    <option value="0">-- Chọn Quận / Huyện --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Phường / Xã</label>
                                <select id="ward_update" name="wardID" class="select">
                                    <option value="0">-- Chọn Phường / Xã --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Chức vụ</label>
                                <select id="position" name="positionID" class="select">
                                    @Html.Action("GetListPosition")
                                </select>
                            </div>
                        </div>
                        @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">Nhóm</label>
                <select id="group" name="groupID" class="select">
                    @Html.Action("GetListGroup")
                </select>
            </div>
        </div>*@
                        @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Trạng thái</label>
                                <select id="status" name="status" class="select">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Tạm ngưng</option>
                                </select>
                            </div>
                        </div>*@
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Employee Modal -->
<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Xoá người dùng</h3>
                    <p>Bạn có chắc chắn muốn xóa người dùng này?</p>
                </div>
                <div class="modal-btn delete-action">
                    <form action="/User/Delete" method="post">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" name="id" class="btn continue-btn">Xóa</button>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                   class="btn btn-primary cancel-btn">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->

@section js{
    <script src="~/Assets/js/ajax/UserManage.js"></script>
    @if (TempData["SUCCESS"] != null)
    {
        <script>
            toastr.success("@TempData["SUCCESS"]", "Thành công");
        </script>
    }
    @if (TempData["ERROR"] != null)
    {
        <script>
            toastr.error("@TempData["ERROR"]", "Lỗi");
        </script>
    }
}