@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@model IEnumerable<StudentManage.Models.PersonalScore>
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="page-title">Danh sách điểm</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->


    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped custom-table mb-0 text-center"
                       style="width:100%; font-size: 13px;">
                    <thead>
                        <tr style="box-shadow:none">
                            <th>
                                <span>STT</span>
                            </th>
                            <th>
                                <span>Học kỳ</span>
                            </th>
                            <th>
                                <span>Năm học</span>
                            </th>
                            <th>
                                <span>Điểm</span>
                            </th>
                            <th>
                                <span>Xếp loại</span>
                            </th>
                            <th>
                                <span>Tình trạng</span>
                            </th>
                            <th>
                                <span>Tác Vụ</span>
                            </th>
                            <th>
                                <span>Ghi Chú</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            int index = 0;
                        }
                        @foreach (var item in Model)
                        {
                            index++;
                        <tr>
                            <td>
                                <strong>@index</strong>
                            </td>
                            <td>@item.Semester</td>
                            <td>@item.Year</td>
                            <td>@item.Score</td>
                            <td>
                                <span class="badge bg-inverse-success text-lg">@item.Rank</span>
                            </td>
                            <td>
                                <span class="badge bg-inverse-warning text-sm">@item.Status</span>
                            </td>
                            <td>
                                <a href="/Evaluation/View/@item.FormId" title="Xem điểm">
                                    <i class="las la-eye text-xl text-secondary juged-icon"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#viewnote_modal"
                                   title="Xem/ Sửa ghi chú">
                                    <i class="las la-comment text-xl text-success juged-icon"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- View note Modal -->
<div id="viewnote_modal" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xem ghi chú</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Nội dung ghi chú <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="10">Chúc bạn 1 ngày tốt lành</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section m-t-10 d-flex justify-content-around">
                        <button class="btn btn-outline-danger submit-btn">Xóa ghi chú</button>
                        <button class="btn btn-primary submit-btn">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View note Modal -->
