
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@model StudentManage.Models.TemplateModel
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="page-title">Chấm điểm</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đánh giá rèn luyện</li>
                    <li class="breadcrumb-item active">Chấm điểm</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="d-flex justify-content-md-end justify-content-sm-center p-t-10 p-b-10">
                    <button type="button" class="btn content-btn excel-btn" data-id="@ViewData["ID"]">
                        <i class="fa fa-download"></i>Xuất
                        Excel
                    </button>
                    <a href="#" class="btn content-btn">
                        <i class="fa fa-check"></i>Duyệt
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Student info -->
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Thông Tin Đoàn Viên</h4>
        </div>
        <div class="card-body">
            <div class="profile-view">
                <div class="profile-img-wrap">
                    <div class="profile-img">
                        <a href="#"><img alt="" src="~/Assets/img/profiles/user.jpg"></a>
                    </div>
                </div>
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.FullName</h3>
                                <div class="staff-id m-t-10">
                                    Chức vụ: <span class="badge bg-inverse-primary text-sm">
                                        @Model.Position
                                    </span>
                                </div>
                                <div class="small text-muted">Khoa: @Model.Faculty</div>
                                <div class="small text-muted">1</div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <div class="title">Số điện thoại:</div>
                                    <div class="text"><span>@Model.Phone</span></div>
                                </li>
                                <li>
                                    <div class="title">Email:</div>
                                    <div class="text">
                                        <span>@Model.Email</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Student info -->
    <!-- Jugedment table -->
    <div class="card m-b-30">
        <div class="card-header">
            <h4 class="card-title mb-0">@Model.TemplateName</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    <form action="">
                        <div class="table-responsive" style="white-space:unset">
                            <table class="table table-bordered table-hover mb-0 juged-table">
                                <thead>
                                    <tr class="text-center">
                                        <th rowspan="2">
                                            <span style="font-size: 20px;">
                                                STT
                                            </span>
                                        </th>
                                        <th rowspan="2">
                                            <span style="font-size: 26px;">
                                                Nội dung
                                            </span>
                                        </th>
                                        <th colspan="2">Điểm</th>
                                        <th rowspan="2">
                                            <span style="font-size: 26px;">
                                                Minh chứng
                                            </span>
                                        </th>
                                    </tr>
                                    <tr class="text-center">
                                        <th style="width:185px; min-width:100px">Tối đa</th>
                                        <th style="width:185px; min-width:100px">Tự đánh giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        String[] arrItem = { "I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X" };
                                        int indexItem = 0;
                                        int indexSubItem = 0;
                                    }
                                    @foreach (var item in Model.ListMain)
                                    {
                                        <!--  section A -->
                                        <tr>
                                            <td colspan="4">
                                                <b>
                                                    @arrItem[indexItem] . @item.Title
                                                </b>
                                            </td>
                                        </tr>
                                        foreach (var subItem in item.ListRequriement)
                                        {
                                            indexSubItem++;
                                            <tr>
                                                <td class="text-center">@indexSubItem</td>
                                                <td>
                                                    <b>@subItem.Content</b>
                                                    <ul class="juged-list">
                                                        @if (!string.IsNullOrEmpty(subItem.Requirement))
                                                        {
                                                            <li>@subItem.Requirement</li>
                                                        }

                                                    </ul>
                                                </td>
                                                <td class="text-center">@subItem.MaxScore</td>
                                                <td class="text-center">
                                                    <input type="number" class="juged-input" value="@subItem.Score" min="0" max="@subItem.MaxScore" required name="score[@subItem.CriteriaID]">
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" data-toggle="modal" data-target="#viewnote_modal-@subItem.CriteriaID"
                                                       title="Xem/ Sửa minh chứng">
                                                        <i class="las la-file-alt font-35 text-success juged-icon"></i>
                                                        <span class="text-sm d-block text-success">
                                                            Xem minh
                                                            chứng
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <!-- View note Modal -->
                                            <div id="viewnote_modal-@subItem.CriteriaID" class="modal custom-modal fade" data-backdrop="static" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Xem/ Sửa minh chứng</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="upload-pic_container">
                                                                        <div class="upload-pic_wrapper">
                                                                            <div class="upload-pic_image d-block">
                                                                                <img src="~/Assets/img/Images_Proof/@subItem.Image" alt="">
                                                                            </div>
                                                                            <div class="upload-pic_content">
                                                                                <div class="upload-pic_icon">
                                                                                    <i class="fa fa-file-image-o"></i>
                                                                                </div>
                                                                                <div class="upload-pic_text">
                                                                                    Chưa có ảnh
                                                                                </div>
                                                                            </div>
                                                                            <div id="upload-pic_cancel-btn">
                                                                                <i class="las la-times-circle"></i>
                                                                            </div>
                                                                            <div class="upload-pic_file-name"></div>
                                                                        </div>
                                                                        <div onclick="defaultBtnActive()" id="upload-pic_custom-btn"
                                                                             class="btn btn-outline-primary">
                                                                            Thêm ảnh
                                                                        </div>
                                                                        <input id="upload-pic_default-btn" name="imgaes[@subItem.CriteriaID]" type="file" hidden>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="text-center d-block text-lg font-weight-normal">
                                                                                    -- Nội
                                                                                    dung
                                                                                    minh chứng --
                                                                                </label>
                                                                                <textarea class="form-control"
                                                                                          rows="11" name="proof[@subItem.CriteriaID]">@subItem.Proof</textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /View note Modal -->
                                        }
                                        indexItem++;
                                    }

                                    <!--  section A -->
                                    <!-- sum -->
                                    <tr>
                                        <td colspan="2" class="text-center"> <b>Tổng điểm</b> </td>
                                        <td class="text-center font-weight-bold">100</td>
                                        <td class="text-center font-weight-bold">@Model.TotalScore</td>
                                        <td></td>
                                    </tr>
                                    <!-- /sum -->
                                    <!-- sum -->
                                    <tr style="background-color:#eee ;">
                                        <td colspan="2" class="text-center">
                                            <b>
                                                Xếp loại: (A: >=90 đ, B:
                                                >=75 đ, C: >=50 đ, D: <=50đ)
                                            </b>
                                        </td>
                                        <td colspan="3" class="text-center font-weight-bold">
                                            <span class="badge bg-inverse-success text-lg">@Model.Rank</span>
                                        </td>
                                    </tr>
                                    <!-- /sum -->


                                </tbody>
                            </table>
                        </div>




                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- /Jugedment table -->

</div>
<!-- /Page Content -->
<!-- View note Modal -->
<div id="viewnote_modal" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xem/ Sửa minh chứng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="upload-pic_container">
                            <div class="upload-pic_wrapper">
                                <div class="upload-pic_image">
                                    <img src="" alt="">
                                </div>
                                <div class="upload-pic_content">
                                    <div class="upload-pic_icon">
                                        <i class="fa fa-file-image-o"></i>
                                    </div>
                                    <div class="upload-pic_text">
                                        Chưa có ảnh
                                    </div>
                                </div>
                                <div id="upload-pic_cancel-btn">
                                    <i class="las la-times-circle"></i>
                                </div>
                                <div class="upload-pic_file-name"></div>
                            </div>
                            <button onclick="defaultBtnActive()" id="upload-pic_custom-btn"
                                    class="btn btn-outline-primary">
                                Thêm ảnh
                            </button>
                            <input id="upload-pic_default-btn" type="file" hidden>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="text-center d-block text-lg font-weight-normal">
                                        -- Nội
                                        dung
                                        minh chứng --
                                    </label>
                                    <textarea class="form-control"
                                              rows="11">Chúc một ngày tốt lành</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section m-t-15 d-flex justify-content-between">
                            <button class="btn btn-outline-danger width-47">Xóa</button>
                            <button class="btn btn-outline-primary width-47">Lưu</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- /View note Modal -->
@section js {
    <script>
        (function () {
            const listItem = document.querySelectorAll('.juged-list')
            listItem.forEach((item, key) => {
                string = ""
                myArray = item.innerText.split('-')
                myArray.forEach(i => {
                    if (i.length > 0)
                        string += `<li>${i}</li>`
                })
                listItem[key].innerHTML = string
            })
        })();
    </script>
    <script src="~/Assets/js/ExportExcel.js"></script>
}