
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@model StudentManage.Models.UserModel
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Thông tin sinh viên</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thông tin sinh viên</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img alt="" src="~/Assets/img/logo-hutech.png"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">@Model.fullname</h3>
                                        <div class="staff-id">Mã số sinh viên : @Model.studentCode</div>
                                        <div class="small text-muted">Khoa: @Model.facultyName</div>
                                        <div class="small text-muted">Lớp: @Model.className</div>
                                        <div class="staff-msg">
                                            <a data-target="#profile_change_password"
                                               data-toggle="modal" class="btn btn-primary">Đổi mật khẩu</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">Số điện thoại:</div>
                                            <div class="text"><a href="">@Model.phone</a></div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text">
                                                <a href="">@Model.email</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">Ngày sinh:</div>
                                            @if (Model.birthDay != null)
                                            {
                                                <div class="text">@String.Format("{0:dd/MM/yyyy}", Model.birthDay)</div>
                                            }
                                            else
                                            {
                                                <div class="text">Chưa Cập Nhật</div>
                                            }
                                        </li>
                                        <li>
                                            <div class="title">Địa chỉ:</div>
                                            @if (Model.address != null)
                                            {
                                                <div class="text" id="address">
                                                    @Model.address
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text" id="address">
                                                    Chưa Cập Nhật
                                                </div>
                                            }

                                        </li>
                                        @if (Model.gender == 1)
                                        {
                                            <li>
                                                <div class="title">Giới tính:</div>
                                                <div class="text">Nam</div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <div class="title">Giới tính:</div>
                                                <div class="text">Nữ</div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pro-edit">
                            <a data-target="#profile_info" data-toggle="modal"
                               class="edit-icon" href="#"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Change Password Modal -->
<div id="profile_change_password" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thay đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="ChangePasswordClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ChangePassword">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mật khẩu cũ (*)</label>
                                        <input type="password" class="form-control" id="passwordOld">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mật khẩu mới (*)</label>
                                        <input type="password" class="form-control" id="passwordNew">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu mới (*)</label>
                                        <input type="password" class="form-control" id="confirmPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Change Password Modal   -->
<!-- Profile Modal -->
<div id="profile_info" class="modal custom-modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="UpdateProfile">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap edit-img">
                                <img class="inline-block" src="~/assets/img/logo-hutech.png" alt="user">
                                @*<div class="fileupload btn">
                                        <span class="btn-text">Chọn ảnh</span>
                                        <input class="upload" type="file">
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Họ và tên</label>
                                        <input type="text" class="form-control" value="@Model.fullname"
                                               disabled name="fullname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ngày sinh (*)</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" type="text" id="birthDay" name="birthDayString">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <select class="select form-control" name="gender">
                                            @if (Model.gender == 1)
                                            {
                                                <option value="1" selected>Nam</option>
                                                <option value="0">Nữ</option>
                                            }
                                            else
                                            {
                                                <option value="1">Nam</option>
                                                <option value="0" selected>Nữ</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số điện thoại <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" value="@Model.phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control"
                                               value="@Model.email" name="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tỉnh/Thành phố <span class="text-danger"></span></label>
                                <select class="select" id="city" name="cityID">
                                    <option value="0">Chọn Tỉnh/Thành Phố</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quận/Huyện<span class="text-danger"></span></label>
                                <select class="select" id="district" name="districtID">
                                    <option value="0">Chọn Quận/Huyện</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phường/Xã<span class="text-danger"></span></label>
                                <select class="select" id="ward" name="wardID">
                                    <option value="0">Chọn Phường/Xã</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Địa chỉ <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" value="@Model.address" name="address">
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Lưu thông tin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Profile Modal -->
@section js {
    <!-- Viet Name Provinces -->
    <script src="~/Assets/js/ajax/VietNamProvince.js"></script>
    <script>
        const address = document.getElementById("address");;
        const city = document.getElementById("city");
        const district = document.getElementById("district");
        const ward = document.getElementById("ward");
        var cityID = @Model.cityID;
        var districtID = @Model.districtID;
        var wardID = @Model.wardID;
        console.log(cityID + "-" + districtID + '-' + wardID)
        const birthDay = document.getElementById("birthDay")
        birthDay.value = "@String.Format("{0:dd/MM/yyyy}", Model.birthDay)";
        console.log("@String.Format("{0:dd/MM/yyyy}", Model.birthDay)");
        // #region JS region select loading Viet Nam Provinces - Have CityID, DistrictID, WardID
        getAllCities().then(function (data) {
            let count = 0;
            data.forEach(item => {
                city.options[city.options.length] = new Option(item.Name, item.Code)
                if (cityID != 0) {
                    if (cityID == city.options[count].value) {
                        city.options[count].selected = true;
                        getDistrictsByCityID(cityID).then(function (listDistrict) {
                            count = 0;
                            listDistrict.forEach(item => {
                                district.options[district.options.length] = new Option(item.Name, item.Code)
                                if (districtID != 0) {
                                    if (districtID == district.options[count].value) {
                                        district.options[count].selected = true;
                                    }
                                    count++;
                                }
                            });
                        })
                    }
                    count++;
                }

            });
            $('#edit_union-notebook select').trigger("change");
            getDistrictsByCityID(cityID).then(function (listDistrict) {
                count = 0;
                listDistrict.forEach(item => {
                    district.options[district.options.length] = new Option(item.Name, item.Code)
                    if (districtID != 0) {
                        if (districtID == district.options[count].value) {
                            district.options[count].selected = true;
                        }
                        count++;
                    }
                });
            })
            getWardsByDistrictID(districtID).then(function (listWard) {
                count = 0;
                listWard.forEach(item => {
                    ward.options[ward.options.length] = new Option(item.Name, item.Code)
                    if (wardID != 0) {
                        if (wardID == ward.options[count].value) {
                            ward.options[count].selected = true;
                        }
                        count++;
                    }
                })
            }).then(function () {
                const cityName = (cityID != 0) ? city.options[city.selectedIndex].innerText : "";
                const districtName = (districtID != 0)?district.options[district.selectedIndex].innerText:"";
                const wardName = (wardID!=0)?ward.options[ward.selectedIndex].innerText:"";
                console.log(cityName + " " + districtName + " " + wardName + " " + address.innerText);
                address.textContent = (address.textContent.trim() == "Chưa Cập Nhật") ? "" : address.textContent.trim();
                const nameArr = [];
                nameArr.push(address.textContent);
                nameArr.push(wardName);
                nameArr.push(districtName);
                nameArr.push(cityName);
                address.textContent = nameArr.filter(item => item.length > 0).toString();
            })
            city.onchange = function () {
                district.length = 1
                ward.length = 1
                if (this.value != 0) {
                    getDistrictsByCityID(this.value).then(listDistrict => {
                        listDistrict.forEach(item => {
                            district.options[district.options.length] = new Option(item.Name, item.Code)
                        })
                    })
                }
            }
            district.onchange = function () {
                ward.length = 1
                if (this.value != 0) {
                    getWardsByDistrictID(this.value).then(listWard => {
                        listWard.forEach(item => {
                            ward.options[ward.options.length] = new Option(item.Name, item.Code)
                        })
                    })
                }
            }
            $("#UpdateProfile select").change();

        })
        // #endregion

    </script>
    <script src="~/Assets/js/ajax/User.js"></script>
}
